# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives :**
--                     --
* List popular languages in Data Science
* List commonly used libraries in Data Science
* List Data Science Tools
* List few examples of Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Mathplotlib
4. Seaborn
5. SciKit-learn
6. Keras
7. PyTorch

Table of Data Science Tools

|Data Science Tools|
|-------------------|
|Jupyter |
|RStudio |
|Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers.

In [2]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60.

In [3]:
200/60

3.3333333333333335

## Author
Srinidhi Rajagopalan